.DS_store
*.sav
*.jpg
*.png
# note book stuff
textDetectModel/__pycache__
textDetectModel/.ipynb_checkpoints
# ignore datasets
# ignore our_images_final
textDetectModel/datasets/*
textDetectModel/datasets/our_images_final
textDetectModel/datasets

# vscode
.vscode

